/* Misc */
body {
    padding-top: 70px;
    background-color: #F5F5F5;
}

/* Navigation bar */
.navbar-img {
    margin-right: 10px;
}
.navbar-img path {
    fill: #FFFFFF;
}
.navbar .category-select {
    max-width: 20em;
}

/* Product grid page */
.product-grid-page .zoekbalk {
    width: 40em;
    margin: 0 auto;
}
.product-grid-page .card {
    margin-top: 10px;
}
.product-grid-page .card-img-top {
    /* width: 200px; */
    width: auto;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
}
.product-grid-page .card-body {
    height: 12em;
}
.product-grid-page .card-footer a {
    float: right;
}
.product-grid-page .prijskaartje {
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}
.product-grid-page .oud_prijskaartje {
    float: left;
    font-size: 1em;
    margin-left: 0.5em;
    text-decoration: line-through;
}
.product-grid-page {
    margin-bottom: 50px;
}

.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}
