{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static '/webshop/fa/css/all.css' %}" rel="stylesheet"> <!--load all styles -->
    <link rel="stylesheet" type="text/css" href="/static/webshop/base.css?v=1.1">

  </head>
  <body>

    <!-- Navigation bar -->
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <!-- Brand/Logo -->
        <!-- <img class="navbar-img" src="{% static 'blog/logo_small.svg' %}" width="25" height="25" alt=""> -->
        <svg class="navbar-img" version="1.0" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 5120 5120" preserveAspectRatio="xMidYMid meet">
          <path d="M0 5113 c0 -5 286 -1157 637 -2561 l638 -2552 1922 0 c1532 0 1923 3 1923 13 0 6 -191 774 -424 1706 l-424 1694 424 849 c233 466 424 850 424 853 0 8 -5120 6 -5120 -2z"/>
        </svg>
        <a class="navbar-brand" href="{% url 'webshop-home'%}">E-commerce site</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'webshop-home'%}"><i class="fas fa-home"></i> Ontdek</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-list-ul"></i> Producten
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Laptops</a>
                <a class="dropdown-item" href="#">Telefoons</a>
                <a class="dropdown-item" href="#">Tablets</a>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'webshop-home'%}"><i class="fas fa-question-circle"></i> Vragen?</a></li>
          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i> Winkelwagen</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'webshop-login'%}"><i class="fas fa-sign-in-alt"></i> Inloggen</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'webshop-register'%}"><i class="fas fa-user-plus"></i> Registreren</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Main page -->
    <div class="main_content">
      {% block content%}{% endblock %}
    </div>
    <!-- jQuery, Popper.js and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
