{% extends "webshop/base.html" %}
{% block content %}
<div class="container product-grid-page">

    <!-- Search bar -->
    <div class="input-group zoekbalk">
        <input type="text" class="form-control" placeholder="Waar ben je naar op zoek?">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
        </div>
    </div>
    
    <!-- Producten -->
    {% for product in products %}

        {% if loop.first %}
            <div class="row">
        {% endif %}

        <div class="col-sm">
          <div class="card" style="width: 100%;">
            <img class="card-img-top" src="{{ product.image }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><a href="product/1">{{ product.title }}</a></h5>
              <p class="card-text">{{ product.description }}</p>
            </div>
            <div class="card-footer">
              <p class="prijskaartje">
                {% if (product.price % 1) == 0 %}
                  {{ ((product.price)|string )[:-3] }}.-
                {% else %}
                  {{ product.price }}
                {% endif%}
              </p>
              <p class="oud_prijskaartje text-danger">
                {% if product.old_price != 0.0 %}
                  {% if (product.old_price % 1) == 0 %}
                    {{ ((product.old_price)|string )[:-3] }}.-
                  {% else %}
                    {{ product.old_price }}
                  {% endif%}
                {% endif %}
              </p>
              <a href="product/1/order" class="btn btn-primary">Bestel Nu</a>
            </div>
          </div>
        </div>
        {% if loop.index is divisibleby(3) %}
          </div><div class="row">
        {% endif %}
        {% if loop.last %}
          </div>
        {% endif %}
    {% endfor %}

</div>
{% endblock %}
