{% extends 'webshop/base.html' %}
{% block content %}
    <div class="container w-50">
        <form action="/panel/{{category}}/edit/{{id}}?confirm=true" method="POST">
            {{ csrf_input }}
            {% for field in fields %}
                <div class="form-group">
                    <label for="input-{{field.name}}">{{field.name}}</label>
                    {% if field.name == "description" %}
                        <textarea name="input-{{field.name}}" class="form-control" id="input-{{field.name}}" cols="30" rows="5">{{item[field.name]}}</textarea>
                    {% else %}
                        <input name="input-{{field.name}}" id="input-{{field.name}}" value="{{item[field.name]}}" type="text" class="form-control" placeholder="{{field.name}}">
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="m-1 float-right btn btn-primary">Save <i class="fas fa-save"></i></button>
            <a href="/panel/{{category}}" type="submit" class="m-1 float-right btn btn-danger text-light">Cancel <i class="fas fa-trash-alt"></i></a>
        </form>
    </div>
{% endblock %}
