{% extends 'webshop/base.html' %}
{% block content %}
<div class="container product-grid-page">

    <div class="btn-group float-left" role="group" aria-label="Basic example">
        {% if category == "users"%}
            <a href="/panel/users" class="btn btn-info text-light">Users</a>
            <a href="/panel/products" class="btn btn-outline-info text-dark">Products</a>
        {% elif category == "products" %}
            <a href="/panel/users" class="btn btn-outline-info text-dark">Users</a>
            <a href="/panel/products" class="btn btn-info text-light">Products</a>
        {% else %}
            <a href="/panel/users" class="btn btn-outline-info text-dark">Users</a>
            <a href="/panel/products" class="btn btn-outline-info text-dark">Products</a>
        {% endif%}
        
    </div>

    <div class="btn-group float-right" role="group" aria-label="Basic example">
        <a href="/panel/{{category}}" class="btn btn-danger text-light">Clear Search <i class="fas fa-trash-alt"></i></a>
        <a class="btn btn-success text-light">New <i class="fas fa-plus"></i></a>
    </div>

    <!-- Search bar -->
    <form action="/panel/{{category}}" method="GET">
        <div class="input-group zoekbalk pb-3">
            <div class="input-group-prepend">
                <select name="field" class="custom-select">
                    {% for field in fields %}
                        {% if search_field == field.name %}
                            <option value="{{field.name}}" selected>{{field.name}}</option>
                        {% else %}
                            <option value="{{field.name}}">{{field.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <input name="query" type="text" class="form-control" placeholder="Waar ben je naar op zoek?" value="{{search_query}}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
    
    <!-- Table TODO: 1 letter in field to uppercase and swap _ for ' ' -->
    <table class="table" style="position: absolute; left: 0;">
        <tr style="font-size: 0.7em;">
            {% for field in fields %}
                <th scope="col">{{ field.name }}</th>
            {% endfor %}
            <th scope="col">Options</th>
        </tr>
        {% for item in items %}
            <tr style="font-size: 0.7em;">
                {% for field in fields %}
                    {% if field.name == 'image' %}
                        <td class="align-middle">
                            <img style="width: 40px; height: 40px;" src="{{ item.image }}">
                        </td>
                    {% else %}
                        <td class="align-middle">{{ item[field.name] }}</td>
                    {% endif %}
                {% endfor %}
                <td class="align-middle">
                    <a href="/panel/{{category}}/edit/{{item.id}}" class="badge badge-secondary p-1"><i class="fas fa-edit"></i> Edit</a>
                    <a href="/panel/{{category}}/delete/{{item.id}}" class="badge badge-danger p-1"><i class="fas fa-trash"></i> Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
