{% extends 'webshop/base.html' %}
{% block content %}
<div class="container product-grid-page">

    <!-- Search bar -->
    <form action="/panel/products" method="GET">
        <div class="input-group zoekbalk pb-3">
            <div class="input-group-prepend">
                <select name="field" class="custom-select">
                    {% for item in fields %}
                        <option {% if item.value %} selected {% endif %} value="{% filter lower %}{{item.field}}{% endfilter %}">{{item.field}}</option>
                    {% endfor %}
                </select>
            </div>
            <input name="query" type="text" class="form-control" placeholder="Waar ben je naar op zoek?" value="{{query}}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
    
    <!-- Product table -->
    <table class="table">
        <tr style="font-size: 0.7em;">
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Price</hd>
            <th scope="col">Old price</th>
            <th scope="col">Date added</th>
            <th scope="col">Image</th>
            <th scope="col">Stock</th>
            <th scope="col">Options</th>
        </tr>
        {% for product in products %}
            <tr style="font-size: 0.7em;">
                <td class="align-middle">{{ product.id }}</td>
                <td class="align-middle">{{ product.title }}</td>
                <td class="align-middle" style="width: 500px;">{{ product.description }}</td>
                <td class="align-middle">{{ product.price }}</td>
                <td class="align-middle">{{ product.old_price }}</td>
                <td class="align-middle">{{ product.date_added }}</td>
                <td class="align-middle">
                    <img style="width: 40px; height: 40px;" src="{{ product.image }}">
                </td>
                <td class="align-middle">{{ product.stock }}</td>
                <td class="align-middle">
                    <a href="#" class="badge badge-secondary p-1"><i class="fas fa-edit"></i> Edit</a>
                    <a href="#" class="badge badge-danger p-1"><i class="fas fa-trash"></i> Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
