{% extends 'webshop/base.html' %}
{% block content %}
<div class="container product-grid-page">

    <!-- Search bar -->
    <form action="/panel/users" method="GET">
        <div class="input-group zoekbalk pb-3">
            <div class="input-group-prepend">
                <select name="field" class="custom-select">
                    {% for item in fields %}
                        <option {% if item.value %} selected {% endif %} value="{% filter lower %}{{item.field}}{% endfilter %}">{{item.field}}</option>
                    {% endfor %}
                </select>
            </div>
            <input name="query" type="text" class="form-control" placeholder="Waar ben je naar op zoek?" value="{{query}}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>

    <table class="table">
        <tr style="font-size: 0.7em;">
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Gender</hd>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Postal Code</th>
            <th scope="col">House Number Additions</th>
            <th scope="col">Street Name</th>
            <th scope="col">City Name</th>
            <th scope="col">County</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Date Of Birth</th>
        </tr>
        {% for user in users %}
            <tr style="font-size: 0.7em;">
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.postal_code }}</td>
                <td>{{ user.house_number_additions }}</td>
                <td>{{ user.street_name }}</td>
                <td>{{ user.city_name }}</td>
                <td>{{ user.county }}</td>
                <td>{{ user.phone_number }}</td>
                <td>{{ user.date_of_birth }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
